.env
__pycache__
*.egg-info/
build/
dist/
.ruff_cache
.DS_Store
.vscode/
.idea/
*.code-workspace
**/cdk.out
**/node_modules
**/.envrc
**/.venv/
**/.hypothesis/
**/cdk.context.json
**/.agentcore.json
**/.next
